//fonts

$font__prin : 'Montserrat',
sans-serif;
$font__sec: 'Poppins', sans-serif;
$font__terc: 'Heebo', sans-serif;


// Colors
$back__gral: #050C1B;
$gral__color: #FFF;
$prim__color: #007CF0;
$sec__color: #FCAD72;
$grad__color: linear-gradient(86.86deg, #FF626D 0%, #FCAD72 100.75%);
$neutro_color: #E0D3C3;
$gray__color: #A3A3A3;
$blue__dark: #141e30;