.container {
    width: min(90%, 900px);
    margin: 12rem auto 0 auto;
}

.hero {
    text-align: center;
}

.hero__group {
    display: grid;
    grid-template-columns: 1fr 3%;
}

h1 {
    font-size: 14rem;
    font-family: $font__terc;
    letter-spacing: -.7rem;
    text-align: center;
    margin: 0 0 16px;
}


.span__title {
    display: block;
    line-height: 1.1;
    padding: 0 12px;
    position: relative;
}

.span__title::before {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
}

@keyframes animated {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }
}



.hero__name {
    font-family: $font__terc;
    font-size: 2rem;
    color: $gral__color;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.hero__title {
    background: $grad__color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $font__prin;
    font-weight: 700;
    font-size: 14rem;
    margin: 0;
}

.hero__subtitle {
    font-family: $font__prin;
    font-weight: 700;
    font-size: 6rem;
    color: $neutro_color;
    margin: 0;
    line-height: 70px;
}

.hero__available {
    font-family: $font__prin;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 4rem;
    letter-spacing: 1px;
}

.hero__tech {
    font-family: $font__prin;
    font-weight: 300;
    font-size: 2rem;
    color: $gral__color;
    word-spacing: 3px;
    margin-top: 4rem;
}

.hero__desc {
    font-family: $font__sec;
    font-size: 1.8rem;
    font-weight: 300;
    color: $gray__color;
    line-height: 2.7rem;
    letter-spacing: .5px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 14rem;
}