.container {
    width: min(90%, 900px);
    margin: 12rem auto 0 auto;

    @include tablet__768 {
        width: min(90%, 768px);
        margin-right: 2rem;
    }

    @include mob__375 {
        width: min(90%, 375px);
    }


}

.hero {
    text-align: center;


}


.hero__group {
    display: grid;
    grid-template-columns: 1fr 3%;

}

h1 {
    font-size: 14rem;
    font-family: $font__terc;
    letter-spacing: -.7rem;
    text-align: center;
    margin: 0 0 16px;

    @include tablet__768 {
        font-size: 10rem;
    }

    @include mob__490 {
        font-size: 8rem;
    }



}


.span__title {
    display: block;
    line-height: 1.1;
    padding: 0 12px;
    position: relative;
}

.span__title::before {
    background: linear-gradient(0deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
}

@keyframes animated {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }
}



.hero__name {
    font-family: $font__terc;
    font-size: 2rem;
    color: $gral__color;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 1px;

    @include mob__375 {
        margin-top: -5rem;
        font-size: 1.8rem;
    }
}

// .hero__title {
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -webkit-background-clip: text;
//     font-family: $font__prin;
//     font-weight: 700;
//     font-size: 14rem;
//     margin: 0;
// }


.hero__tech {
    font-family: $font__prin;
    font-weight: 300;
    font-size: 2rem;
    color: $gral__color;
    word-spacing: 3px;
    margin-top: 4rem;

    @include tablet__768 {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    @include mob__490 {
        line-height: 2.8rem;
        margin-top: 0;
    }

    @include mob__375 {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-top: 0;
    }
}

.hero__desc {
    font-family: $font__sec;
    font-size: 1.8rem;
    font-weight: 300;
    color: $gray__color;
    line-height: 2.7rem;
    letter-spacing: .5px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 14rem;

    @include mob__375 {
        font-size: 1.6rem;
        width: 90%;
    }

}