.projects {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9.5rem;
    row-gap: 8rem;

    @include desk__1160 {
        width: min(90%, 450px);
        column-gap: 4rem;
    }

    @include desk__930 {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    @include mob__490 {
        width: min(100%, 490px);
    }

    @include mob__375 {
        margin-top: 0;
        width: 100%;
    }


}

.projects__desc {
    width: 90%;
    font-family: $font__terc;
    color: $gray__color;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 21px;
    margin-left: 2rem;
    margin-top: 1.4rem;

}


.image__project1,
.image__project2,
.image__project3,
.image__project4 {
    height: 307px;
    width: 100%;
    background-repeat: no-repeat repeat;
    background-position: center;
    background-size: cover;

    @include desk__930 {
        height: 100%;
    }

    @include tablet__768 {
        width: 100%;
        background-position: top;
    }

}

.image__project1 {
    background-image: url("../../src/img/remo-jobs-thumbnail.jpg");
}


.image__project2 {
    background-image: url("../../src/img//weather-thmnail2.jpg");
}


.image__project3 {
    background-image: url("../../src/img//country-thumbnail.jpg");
}


.image__project4 {
    background-image: url("../../src/img/todo-thumbnail3.jpg");
}


.subtitle {
    font-family: $font__sec;
    font-size: 4.8rem;
    font-weight: 600;
    color: $gral__color;
    margin-bottom: 8rem;
}

.subtitle:first-of-type {
    margin-top: 14rem;

    @include mob__375 {
        margin-top: 4rem;
    }

}


.project {
    background-color: transparent;

    @include desk__930 {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 200px;
    }

    @include tablet__768 {
        display: flex;
        flex-direction: column;
        height: 400px;
    }


    @include mob__490 {
        width: min(100%, 490px);
        margin-right: 0;
    }

    @include mob__375 {
        width: min(100%, 375px);
    }

    &:hover {
        background-color: $blue__dark;
    }

}




.info__project {

    @include desk__930 {
        background-color: $blue__dark;
        height: 100%;
    }

}

.subtitle__project {
    margin-top: 2.4rem;
    margin-bottom: 0;
    margin-left: 2rem;
    font-family: $font__prin;
    font-weight: 600;
    font-size: 1.6rem;
    color: $gral__color;
}

.projects__techno {
    margin-top: .9rem;
    margin-left: 2rem;
    font-family: $font__terc;
    font-weight: 700;
    font-size: 1.4rem;
    color: $gray__color;
    letter-spacing: 1px;
}

.buttons {
    margin-left: 2rem;
    margin-bottom: 3rem;
    display: flex;
    column-gap: 4rem;
    margin-right: 2rem;
    width: 90%;

    @include desk__1160 {
        column-gap: 2rem;
    }

    @include mob__490 {
        width: 100%;
    }

    .btn__project {
        background-color: transparent;
        border: 1px solid $gray__color;
        height: 4.3rem;
        width: 16rem;
        border-radius: 6px;
        color: $gray__color;
        font-family: $font__prin;
        font-size: 1.4rem;

        @include mob__490 {
            width: 14rem;
        }

        @include mob__375 {
            width: 13.5rem;
        }

        &:hover {
            background-color: $prim__color;
            color: $blue__dark;
            border: none;
            font-weight: 700;
            transition: all 300ms ease-in-out;
        }
    }

}



.projects__card2,
.projects__card4 {
    margin-top: -14rem;
    height: 100%;

    @include desk__930 {
        margin-top: 0;
        height: 200px;
    }

    @include tablet__768 {
        height: 400px;
    }
}